<div class="container">
  <div class="row">
    <h3 class="col-lg-2 mt-3 mr-auto bg-light text-center">商品詳細</h3>
  </div>

  <div class="row">
    <div class="col-lg-3 m-1">  
      <%= image_tag @item.image, size: "200x200", alt: 'image' %>
    </div>
    
    <div class="col-lg-8">
      <table class="table table-borderless">
        <tr>
          <td scope="col">商品名</td>
          <td scope="col"><%= @item.name %></td> 
        </tr>
        <tr>
          <td scope="col">商品説明</td>
          <td scope="col"><%= @item.introduction %></td> 
        </tr>
        <tr>
          <td scope="col">ジャンル</td>
          <td scope="col"><%= @item.genre.name %></td> 
        </tr>
        <tr>
          <td scope="col">税込価格<br />(税抜価格)</td>
          <td scope="col"><%= @item.with_tax_price.round.to_s(:delimited) %>(<%= @item.price.to_s(:delimited) %>)円</td> 
        </tr>
        <tr>
          <td scope="col">販売ステータス</td>
          <td scope="col">
            <% if @item.is_active %>
            <span class="text-success"><strong>販売中</strong></span>
            <% elsif %>
            <span class="text-muted"><strong>販売停止中</strong></span>
            <% end %>
          </td> 
        </tr>
        <tr>
          <td scope="col"></td>
          <td scope="col">
            <%= link_to "編集する", edit_admin_item_path(@item.id), class:"btn btn-success mt-2" %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>