<div class="top-text">
  <p>ようこそ、ながのCAKEへ！</p>
  <p>このサイトは、ケーキ販売のECサイトになります。</p>
  <P>会員でない方も商品の閲覧はできますが、</P>
  <p>購入には会員登録が必要になります。</p>
</div>

<h3>新着商品</h3>
<div class="item-wrap">
  <% @item.each do |item| %>
    <p><%= link_to 'item_path' do %>
      <%= image_tag item.get_image(100,100) %>
    <% end %></p>
    <p><%= item.name %></p>
    <p>￥<%= number_with_delimiter(item.price) %></p>
  <% end %>
</div>

<%= link_to 'すべての商品を見る', items_path %>