<div class="container">
  <div class="row my-2">
    <h3 class="col-lg-4 my-3 bg-light text-center"><%= @customer.last_name + @customer.first_name %>さんの会員詳細</h3>
  </div>
  
  <div class="row my-2">
    <div class="col-lg-5">
      <table class="table table-borderless">
        <tr>
          <td scope="col">会員ID</td>
          <td scope="col"><%= @customer.id %></td>
        </tr>
        <tr>
          <td scope="col">氏名</td>
          <td scope="col"><%= @customer.last_name %>　<%= @customer.first_name %></td>
        </tr>
        <tr>
          <td scope="col">フリガナ</td>
          <td scope="col"><%= @customer.last_name_kana %>　<%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <td scope="col">郵便番号</td>
          <td scope="col"><%= @customer.postal_code %></div>
        </tr>
        <tr>
          <td scope="col">住所</td>
          <td scope="col"><%= @customer.address %></td>
        </tr>
        <tr>
          <td scope="col">電話番号</td>
          <td scope="col"><%= @customer.telephone_number %></td>
        </tr>
        <tr>
          <td scope="col">メールアドレス</td>
          <td scope="col"><%= @customer.email %></td>
        </tr>
        <tr>
          <td scope="col">会員ステータス</td>
          <td>
            <% if @customer.is_active %>
              <span class="text-success"><strong>有効</strong></span>
            <% elsif %>
              <span class="text-muted"><strong>退会</strong></span>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
   </div>

  <div class="row my-2">
    <div class="col-lg-2"></div>
    <div class="col-lg-2">
      <%= link_to "編集する", edit_admin_customer_path(@customer.id), class:"btn btn-success mt-2" %>
    </div>
    <div class="col-lg-2">
      <%= link_to "注文一覧を見る", admin_root_path(customer_id: @customer.id), class:"btn btn-primary mt-2" %>
    </div>
  </div>
</div>