<div class="container">
  <div class="row my-2">
    <h3 class="col-lg-3 my-3 bg-light text-center">注文履歴詳細</h3>
  </div>
  
  <div class="row my-5">
    <div class="col-lg-8">
      <table class="table table-borderless">
        <tr>
          <td class="font-weight-bold">購入者</td>
          <td><%= link_to admin_customer_path(@order.customer_id) do %>
              <%= @order.customer.last_name %><%= @order.customer.first_name %></td>
              <% end %>
        </tr>
        <tr>
          <td class="font-weight-bold">注文日</td>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <td class="font-weight-bold">配送先</td>
          <td>〒<%= @order.postal_code + " "+ @order.address + " " + @order.name %></td>
        </tr>
        <tr>
          <td class="font-weight-bold">支払方法</td>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
      </table>
    </div>
  </div>
  
  <div class="row my-5">
    <div class="col-lg-8">
      <table class="table table-borderless">
        <thead class="thead-light text-center">
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
        <% @sum = 0 %>
        <% @order_details.each do |order_detail| %>
        <tr>
          <td><%= order_detail.item.name %></td>
          <td class="text-center"><%= order_detail.price %></td>
          <td class="text-center"><%= order_detail.quantity %></td>
          <td class="text-center"><%= (order_detail.price*order_detail.quantity).floor.to_s(:delimited) %></td>
        </tr>
        <% @sum += (order_detail.price*order_detail.quantity).floor %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-4 offset-8 d-flex align-items-end mb-2">
      <table class="table table-borderless">
        <tr>
          <td class="font-weight-bold">商品合計</td>
          <td><%= @sum.to_s(:delimited) %>円</td>
        </tr>
        <tr>
          <td class="font-weight-bold">送料</td>
          <td><%= @postage %>円</td>
        </tr>
        <tr>
          <td class="font-weight-bold">請求金額合計</td>
          <td class="font-weight-bold"><%= (@postage + @sum).to_s(:delimited) %>円</td>
        </tr>
      </table>
    </div>
  </div>
</div>