<div class="container">
  <div class="row">
    <h3 class="col-lg-3 my-3 bg-light text-center">注文履歴詳細</h3>
  </div>


  <div class="row">
    <div class="col-lg-8 my-3">
      <p>注文情報</p>
      <table class="table table-bordered">
        <tr>
          <td scope="col", class="bg-light">注文日</td>
          <td scope="col"><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <td scope="col", class="bg-light">配送先</td>
          <td scope="col">〒<%= @order.postal_code + " " + @order.address + " " + @order.name %></td>
        </tr>
        <tr>
          <td scope="col", class="bg-light">支払方法</td>
          <td scope="col"><%= @order.payment_method_i18n %></td>
        </tr>
      </table>
    </div>

    <div class="col-lg-4 my-3">
      <p>注文情報</p>
      <table class="table table-bordered">
        <tr>
          <td scope="col", class="bg-light">商品合計</td>
          <td scope="col"><%= (@order.total_payment - @order.postage).to_s(:delimited) %></td>
        </tr>
        <tr>
          <td scope="col", class="bg-light">配送料</td>
          <td scope="col"><%= @order.postage %></td>
        </tr>
        <tr>
          <td scope="col", class="bg-light font-weight-bold">ご請求額</td>
          <td scope="col"><%= @order.total_payment.to_s(:delimited) %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 my-3">
    <p>注文内容</p>
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>商品</th>
            <th>単価(税込)</th>
            <th>個数</th>
            <th>小計</th>
          </tr>
        </thead>
          <% @order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= order_detail.price.to_s(:delimited) %></td>
            <td><%= order_detail.quantity %></td>
            <td><%= (order_detail.price*order_detail.quantity).floor.to_s(:delimited) %></td>
          </tr>
          <% end %>
      </table>
    </div>
  </div>
</div>
